vendor/
var/
.php-cs-fixer.cache
node_modules/
scratch/
public/assets/js/debug/
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
