<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TWP</title>
		<link rel="stylesheet" href="/css/output.css">
	</head>

	<body class="bg-gray-900 flex justify-center items-center min-h-screen pt-4">
		<div
			class="container bg-gray-900 text-white rounded-lg shadow-lg p-4 w-auto">

			<!-- Content Section -->
			<div class="flex justify-center">
				<h1 class="text-3xl font-medium text-red-500">Workout Hub</h1>
			</div>

			<!-- Main Section -->
			<div class="border border-gray-600 p-3 mb-4 rounded-lg">
				<div
					class="border-b border-red-500 p-3 mb-4 bg-gray-900">
					<!-- wrap -->
					<div
						class="flex justify-between items-center">
						<!-- Exercise Section -->
						{% include '/user/components/showExerciseSection.twig' %}
						<!-- Add Exercise Button Section -->
						<div class="flex items-center px-4">
							<button class="border border-red-500 text-white px-3 py-1 rounded-lg">+ Exercise</button>
						</div>
					</div>
				</div>

				<div class="mb-3 border-b border-red-500">
					<div class="flex justify-center items-center">
						<div class="border border-red-500 rounded py-2 px-3 text-red-500">Push ups</div>
					</div>

					<div
						class="flex justify-center items-center p-2 bg-gray-900">
						<!-- Slots Section -->
						<div class="w-auto">
							<div class="flex justify-end">
								<h5 class="text-white">Total Sets: N</h5>
							</div>
							<!-- Set section -->
							<div class="border border-red-500 text-white p-2 m-1 text-center rounded mb-4">
								<div class="flex flex-wrap justify-center gap-2">
									<div class="flex border border-red-500 rounded items-center">
										<input class="shadow appearance-none py-2 px-3 text-gray-700 text-center leading-tight focus:outline-none focus:shadow-outline w-25" id="reps" type="number" placeholder="Reps">

										<span class="flex items-center">
											{% include "/user/icons/icon.twig" with { 'name': 'arrow-up-1-0' } %}
										</span>
									</div>
									<span class="flex items-center mx-3">º</span>
									<input class="shadow appearance-none border border-red-500 rounded py-2 px-3 text-gray-700 text-center leading-tight focus:outline-none focus:shadow-outline w-25" id="weigth" type="number" placeholder="Weigth">
									<span class="flex items-center">KG</span>
									<span class="flex items-center mx-3">º</span>
									{% include '/user/components/minute_second_picker.twig' %}
								</div>
							</div>
						</div>
					</div>
					<!-- Add Sets Button Section -->
					<div class="flex justify-center items-center mb-4">
						<button class="border border-red-500 text-white px-3 py-1 rounded-lg">Add Set</button>
					</div>
				</div>

				<div class="mb-3 border-b border-red-500">
					<div class="flex justify-center items-center">
						<div class="border border-red-500 rounded py-2 px-3 text-blue-500">Pull Ups</div>
					</div>

					<div
						class="flex justify-center items-center p-2 bg-gray-900">
						<!-- Slots Section -->
						<div class="w-auto">
							<div class="flex justify-end">
								<h5 class="text-white">Total Sets: N</h5>
							</div>
							<!-- Set section -->
							<div class="border border-red-500 text-white p-2 m-1 text-center rounded mb-4">
								<div class="flex flex-wrap justify-center gap-2">
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">10</div>
									<span class="flex items-center">Nº</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">12</div>
									<span class="flex items-center">KG</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">00:00</div>
									<span class="flex items-center">⏰</span>
								</div>
							</div>

							<!-- Set section -->
							<div class="border border-red-500 text-white p-2 m-1 text-center rounded mb-4">
								<div class="flex flex-wrap justify-center gap-2">
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">10</div>
									<span class="flex items-center">Nº</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">12</div>
									<span class="flex items-center">KG</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">00:00</div>
									<span class="flex items-center">⏰</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Sets Button Section -->
					<div class="flex justify-center items-center mb-4">
						<button class="border border-red-500 text-white px-3 py-1 rounded-lg">Add Set</button>
					</div>
				</div>

				<div class="mb-3 border-b border-red-500">
					<div class="flex justify-center items-center">
						<div class="border border-red-500 rounded py-2 px-3 text-green-500">Squats</div>
					</div>

					<div
						class="flex justify-center items-center p-2 bg-gray-900">
						<!-- Slots Section -->
						<div class="w-auto">
							<div class="flex justify-end">
								<h5 class="text-white">Total Sets: N</h5>
							</div>
							<!-- Set section -->
							<div class="border border-red-500 text-white p-2 m-1 text-center rounded mb-4">
								<div class="flex flex-wrap justify-center gap-2">
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">10</div>
									<span class="flex items-center">Nº</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">12</div>
									<span class="flex items-center">KG</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">00:00</div>
									<span class="flex items-center">⏰</span>
								</div>
							</div>

							<!-- Set section -->
							<div class="border border-red-500 text-white p-2 m-1 text-center rounded mb-4">
								<div class="flex flex-wrap justify-center gap-2">
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">10</div>
									<span class="flex items-center">Nº</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">12</div>
									<span class="flex items-center">KG</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">00:00</div>
									<span class="flex items-center">⏰</span>
								</div>
							</div>

							<!-- Set section -->
							<div class="border border-red-500 text-white p-2 m-1 text-center rounded mb-4">
								<div class="flex flex-wrap justify-center gap-2">
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">10</div>
									<span class="flex items-center">Nº</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">12</div>
									<span class="flex items-center">KG</span>
									<span class="flex items-center mx-3">º</span>
									<div class="border border-red-500 bg-gray-900 text-white p-2 text-center rounded w-20">00:00</div>
									<span class="flex items-center">⏰</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Sets Button Section -->
					<div class="flex justify-center items-center mb-4">
						<button class="border border-red-500 text-white px-3 py-1 rounded-lg">Add Set</button>
					</div>
				</div>
			</div>
		</div>


	</body>
	<script type="module" src="/js/main.js"></script>

</html>
