<form id="workout_form" action="/live_workout" method="POST">
	<label for="workout_id">add</label>
	<input name="workout_id" id="workout_id">
	<button type="submit">Submit</button>
</form>

<h1>{{ post}}</h1>