{% block content %}

<div class="w-auto">
	<div class="flex justify-start">
		<h5 class="text-white">Exercises</h5>
	</div>

	<div class="border border-red-500 text-white p-2 m-1 text-center rounded">
		<div class="flex flex-wrap items-center gap-2">
			<div class="border border-red-500 bg-gray-900  p-2 m-1 text-center rounded flex justify-center items-center text-red-500 exercise-slot">Push Ups</div>
			<div class="border border-red-500 bg-gray-900  p-2 m-1 text-center rounded flex justify-center items-center text-blue-500 exercise-slot">Pull Ups</div>
			<div class="border border-red-500 bg-gray-900  p-2 m-1 text-center rounded flex justify-center items-center text-green-500 exercise-slot">Squats</div>
		</div>
	</div>
</div>

{% endblock %}