<div class="w-auto">
	<div class="d-flex justify-content-start">
		<h5 class="text-light">Exercises</h5>
	</div>

	<div class="border border-danger text-light p-2 m-1 text-center rounded">
		<div class="d-flex flex-wrap align-items-center gap-2">
			<div class="border border-danger bg-dark p-2 m-1 text-center rounded d-flex justify-content-center align-items-center text-danger exercise-slot">Push Ups</div>
			<div class="border border-danger bg-dark p-2 m-1 text-center rounded d-flex justify-content-center align-items-center text-primary exercise-slot">Pull Ups</div>
			<div class="border border-danger bg-dark p-2 m-1 text-center rounded d-flex justify-content-center align-items-center text-success exercise-slot">Squats</div>
		</div>
	</div>
</div>
